<div id="<%= dom_id kit %>">
  <p>
    <strong>Name:</strong>
    <%= kit.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= kit.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= kit.user_id %>
  </p>

</div>
