<p style="color: green"><%= notice %></p>

<% content_for :title, "Items" %>

<h1>Gear</h1>

<div id="items">
  <% @items.each do |item| %>
  <%= render item %>
  <p>
    <%= link_to "Show this item", item %>
    <button type=”button” class=”btn btn-primary”> Primary </button>
  </p>
  <% end %>
</div>

<%= link_to "New item", new_item_path %>